In [13]:
from pymongo import MongoClient

client = MongoClient('mongodb+srv://Tokio:Osaka01@bigdata.oniaf.mongodb.net/')
db = client['company_db']
collection = db['employees']

print('Connected to MongoDB')

Connected to MongoDB

In [46]:
employeeData1 = {
    'name': 'Pinsen',
    'department': 'Medical',
    'age': 28,
    'salary': 5000
}
employeeData2 = {
    'name': 'Alice',
    'department': 'Engineering',
    'age': 30,
    'salary': 6000
}
employeeData3 = {
    'name': 'Bob',
    'department': 'Marketing',
    'age': 25,
    'salary': 4500
}

collection.insert_one(employeeData1)
collection.insert_one(employeeData2)
collection.insert_one(employeeData3)
print('Data inserted')

collection.update_one({'name': 'Pinsen'}, {'$set': {'salary': 5500}})
print('Data updated for Pinsen')

collection.delete_one({'name': 'Bob'})
print('Data deleted for Bob')

Data inserted
Data updated for Pinsen
Data deleted for Bob

In [18]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('67218b87fb6c6caeac6311b3'), 'name': 'Pinsen', 'department': 'Medical', 'age': 28, 'salary': 5500}
{'_id': ObjectId('67218b87fb6c6caeac6311b4'), 'name': 'Alice', 'department': 'Engineering', 'age': 30, 'salary': 6000}
{'_id': ObjectId('67218b98fb6c6caeac6311b6'), 'name': 'Pinsen', 'department': 'Medical', 'age': 28, 'salary': 5000}
{'_id': ObjectId('67218b98fb6c6caeac6311b7'), 'name': 'Alice', 'department': 'Engineering', 'age': 30, 'salary': 6000}
{'_id': ObjectId('67218ba2fb6c6caeac6311b9'), 'name': 'Pinsen', 'department': 'Medical', 'age': 28, 'salary': 5000}
{'_id': ObjectId('67218ba2fb6c6caeac6311ba'), 'name': 'Alice', 'department': 'Engineering', 'age': 30, 'salary': 6000}

In [20]:
pipeline = [
    {'$group': {'_id': '$department', 'averageSalary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Medical', 'averageSalary': 5166.666666666667}
{'_id': 'Engineering', 'averageSalary': 6000.0}

In [39]:
#Latihan
db = client['store_db']
collectionProduct = db['products']

products = [
    {'name': 'Lamp', 'category': 'Electronics', 'price': 150},
    {'name': 'Audio Player', 'category': 'Electronics', 'price': 200},
    {'name': 'Chair', 'category': 'Furniture', 'price': 300},
    {'name': 'Desk', 'category': 'Furniture', 'price': 450},
    {'name': 'Shirt', 'category': 'Clothing', 'price': 50},
    {'name': 'Sweater', 'category': 'Clothing', 'price': 75},
    {'name': 'Novel', 'category': 'Books', 'price': 20},
    {'name': 'Dictionary', 'category': 'Books', 'price': 35},
    {'name': 'Car', 'category': 'Toys', 'price': 40},
    {'name': 'PS 5', 'category': 'Toys', 'price': 80}
]


collectionProduct.insert_many(products)
print('Data produk inserted')

Data produk inserted

In [40]:
averagePrice = collectionProduct.aggregate([
    {'$group': {'_id': None, 'averagePrice': {'$avg': '$price'}}}
])

averagePrice = list(averagePrice)[0]['averagePrice']

aboveAverage = collectionProduct.find({'price': {'$gt': averagePrice}})

print(f'Produk dengan harga di atas rata-rata {averagePrice} : ')
for product in aboveAverage:
    print(product)

Produk dengan harga di atas rata-rata 140.0 :
{'_id': ObjectId('67219675fb6c6caeac6311e4'), 'name': 'Lamp', 'category': 'Electronics', 'price': 150}
{'_id': ObjectId('67219675fb6c6caeac6311e5'), 'name': 'Audio Player', 'category': 'Electronics', 'price': 200}
{'_id': ObjectId('67219675fb6c6caeac6311e6'), 'name': 'Chair', 'category': 'Furniture', 'price': 300}
{'_id': ObjectId('67219675fb6c6caeac6311e7'), 'name': 'Desk', 'category': 'Furniture', 'price': 450}

In [41]:
categoryCount = collection.aggregate([
    {'$group': {'_id': '$category', 'totalProduct': {'$sum': 1}}}
])

print('Total produk per kategori : ')
for category in categoryCount:
    print(category)

Total produk per kategori :
{'_id': 'Clothing', 'totalProduct': 2}
{'_id': 'Furniture', 'totalProduct': 2}
{'_id': 'Books', 'totalProduct': 2}
{'_id': 'Toys', 'totalProduct': 2}
{'_id': 'Electronics', 'totalProduct': 2}

In [47]:
#Tugas
db = client['company_db']
collection = db['employees']

top_salaries = collection.aggregate([
    {'$sort': {'salary': -1}},  # Mengurutkan berdasarkan gaji tertinggi
    {'$group': {
        '_id': '$department',  # Mengelompokkan berdasarkan departemen
        'topEmployees': {'$push': '$$ROOT'}  # Mengumpulkan semua karyawan
    }},
    {'$project': {
        'topEmployees': {'$slice': ['$topEmployees', 5]}  # Mengambil hanya 5 teratas
    }}
])

print('5 karyawan dengan gaji tertinggi dalam setiap departemen:')
for dept in top_salaries:
    print(f'Departemen: {dept["_id"]}')
    for emp in dept['topEmployees']:
        print(emp)

5 karyawan dengan gaji tertinggi dalam setiap departemen:
Departemen: Medical
{'_id': ObjectId('67218b98fb6c6caeac6311b6'), 'name': 'Pinsen', 'department': 'Medical', 'age': 28, 'salary': 5500}
{'_id': ObjectId('67218ba2fb6c6caeac6311b9'), 'name': 'Pinsen', 'department': 'Medical', 'age': 28, 'salary': 5000}
{'_id': ObjectId('67219710fb6c6caeac6311ee'), 'name': 'Pinsen', 'department': 'Medical', 'age': 28, 'salary': 5000}
Departemen: Engineering
{'_id': ObjectId('67218b98fb6c6caeac6311b7'), 'name': 'Alice', 'department': 'Engineering', 'age': 30, 'salary': 6000}
{'_id': ObjectId('67218ba2fb6c6caeac6311ba'), 'name': 'Alice', 'department': 'Engineering', 'age': 30, 'salary': 6000}
{'_id': ObjectId('67219710fb6c6caeac6311ef'), 'name': 'Alice', 'department': 'Engineering', 'age': 30, 'salary': 6000}